logs
downloads
temp
scgi_temp
uwsgi_temp
nginx
PHP
mysql
data
www
.svn
bin/errlog.log
*.local.nginx.conf
HeidiSQL/
bin/PAGEANT.EXE
bin/PLINK.EXE
bin/PSCP.EXE
bin/PSFTP.EXE
bin/PUTTY.CHM
bin/PUTTY.CNT
bin/PUTTY.EXE
bin/PUTTY.HLP
bin/PUTTYGEN.EXE
git/
svn/